forecast-list {
  .city-search-form {
    float: left;
  }
  .degree-container {
    float: right;
  }
  a.button-degree {
    font-size: 20px;
    display: inline-block;
    margin: 10px 5px;
    padding: 5px;
    text-decoration: none;
  }
  h1.city-name {
    text-align: center;
    margin: 10px;
  }
  ul.forecast-days {
    > li {
      display: inline-block;
      padding: 10px;
      margin: 2px;
      border: 1px solid #BBB;
      width: 110px;
    }
    > li:hover {
      background-color: #EFEFEF;
    }
  }
}
