<table class="temperature-table">
  <tbody>
    <tr>
      <td>
        <h1>Morning</h1>
        <p>{{ $ctrl.weather.morn | number: '0' }}&#176;</p>
      </td>
      <td>
        <h1>Day</h1>
        <p>{{ $ctrl.weather.day | number: '0' }}&#176;</p>
      </td>
      <td>
        <h1>Evening</h1>
        <p>{{ $ctrl.weather.eve | number: '0' }}&#176;</p>
      </td>
      <td>
        <h1>Night</h1>
        <p>{{ $ctrl.weather.night | number: '0' }}&#176;</p>
      </td>
    </tr>
  </tbody>
</table>
