$primaryColor:   #0277bd;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

body {
  height: 100%;
  font: 62.5% 'Arial', sans-serif;
  background: url('http://s3-us-west-1.amazonaws.com/s3.fm949sd.com/s3fs-public/Blogs/dreamstime_s_20062208.jpg') repeat 0 0;
}

ul, li, h1, h2, p {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-weight: bolder;
}
.clear-both {
  clear: both
}

input[type="text"] {
  padding: 10px;
  font-size: 15px;
}
button, .link-button {
  display: block;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 0;
}
button:hover, .link-button:hover {
  background-color: #056483;
}
button:active, .link-button:active {
  background-color: #022f3d;
}
.link-button.active {
  background-color: #022f3d;
}
